# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
.next/
dist/
build/
out/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-*

# Turbo
.turbo/

# OS
Thumbs.db
